.Game {
  background-color: #ffeb3b;

  position: absolute;
  margin: -16px auto auto;
}

.GameStart {
  background-color: #ffeb3b;

  display: flex;

  justify-content: center;
  align-items: center;
}

.GameEnd {
  background-color: #ffeb3b;
}
